<div>
  <% if current_user.candidate.nil? %>
      <%= link_to 'Create profile', new_candidate_path(current_user) %>
  <% else %>
      <%= link_to 'Update profile', edit_candidate_path(current_user) %>

      <% if current_user.candidate.resume.nil? %>
        <%= link_to 'Upload resume', new_candidate_resume_path(current_user.candidate) %>
      <% else %>
        <%= link_to 'Update resume', edit_candidate_resume_path(current_user.candidate, current_user.candidate.resume) %>
      <% end %>
<% end %>
</div>